dist/
node_modules
node_modules/
patches/
types/
cache/
!/.eslintrc.js
!.test
.temp
*.json
lint-staged.config.js
cypress
pnpm-lock.yaml
*.md
.github
*.html
packages/docs/src/pages/components-page.tsx
rollup.config.js
LICENSE
